*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;

}

.top-bar{
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 10px;
    
}

.speaker {
    padding: 5px;
    color: white;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    background-color: grey;
    vertical-align: middle;
    text-align: center;
    vertical-align: stare;
    margin: 0px 10px;
}

.fullscreen{
    border-radius: 10px;
    background-color: grey;
    vertical-align: middle;
    text-align: center;
    vertical-align: middle;
    padding: 5px 5px;
    color: white;
    width: 50px;
    height: 30px;
    
}

.container{
    width: 85vw;
    height: 75vh;
    margin: auto;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;


}

.col{
    border:1px solid white;
    width: calc(100% / 8);
    background-image: url("https://picsum.photos/200/300");
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    position: relative;
margin: 5px 5px;    

}

.text{
    background-color: grey;
    width: 100px;
    position: absolute;
    bottom: 0px;
}

.text,i,span{
    color: white;

    
}

.bottom-bar{
    height: 150px;
    border: 1px solid white;
    background-color: rgb(63, 63, 63);
   
    
}

.mini-bar{
    border: 1px solid white;
    width: 300px;
    height: 80px;
}

.item-left{
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.text-icons{
    display: flex;
    align-items: center;
}

h5{
    color: white;
    font-size: 13px;
    padding:5px  15px;
}

.fa-microphone{
    
}


.fa-video{
    margin-left: 15px;    
}


.fa-chevron-up{
    margin: 0px 15px;
    font-size: 10px;
    
}



